@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,.hamburger-middle,.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #0096FF;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle{
    transform: translateY(7px);
  }
  .hamburger-bottom{
    transform: translateY(14px);
  }
  
  .open{
    transform: rotate(90deg);
    transform:  translateY(0px);
  }
  
  .open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle{
    display: none;
  }
  
  .open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  .notification-badge {
    position: absolute;
    top: -5px; /* Adjust the positioning as needed */
    right: -5px; /* Adjust the positioning as needed */
    background-color: red; /* Background color of the badge */
    color: white; /* Text color of the badge */
    border-radius: 50%; /* Makes it a rounded shape */
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    text-align: center;
    line-height: 20px;
    font-size: 12px; /* Adjust the font size as needed */
  }


